**/.git
**/.vs
**/.idea
**/.vscode

**/bin
**/obj
**/out
**/TestResults
**/artifacts

**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates

**/node_modules
**/.DS_Store
**/Thumbs.db

**/Dockerfile*
**/.dockerignore
**/docker-compose*.yml

**/*.md
**/CodingTask.txt

MetaExchange.Tests
MetaExchange.Console
